// The role of the config sass file is two fold. Adjust !defaults as set in lower level modules
// and to set theme variables.

// Typically, commented out variables signify a !default setting at a
// lower level module.



// CSS3 defaults
// *-------------------------------------------------------------------------------
// $default-box-sizing: border-box;


/////// Typography configuration
// *-------------------------------------------------------------------------------
$font_size: 13;

$heading_1: 35;
$heading_2: 28;
$heading_3: 18;
$heading_4: 12;
$heading_5: 12;
$heading_6: 12;

$line: $font_size * 1.5;
$small_point_size: 11;
$large_point_size: 14;

$primary_font_family: #{"Segoe UI", Frutiger, "Frutiger Linotype", "Gill Sans", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;};
$secondary_font_family: #{"Helvetica Neue", Arial, sans-serif};
$heading_font_family: #{"Segoe UI", Frutiger, "Frutiger Linotype", "Gill Sans", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;};

$icons: (list '\e601') (star '\e600') (file-alt '\e602') (ok '\e603') (remove '\e604') (release '\e605') (gear 'e\606');

/////// Default webfont directory
// *-------------------------------------------------------------------------------
$fontDir: "fonts/";

/////// Default image directory
// *-------------------------------------------------------------------------------
$imgDir: "images/";

/////// OOCSS generic base colors
// *-------------------------------------------------------------------------------
$alpha_primary:   #FF1D25;        // red
$bravo_primary:   #7AC943;        // green
$charlie_primary: #fffedf;        // yellow
$delta_primary:   #1FB8F5;        // blue
$echo_primary:    #FF6625;        // accent

$alpha_gray:      #363636;        //black

/////// Color math
// *-------------------------------------------------------------------------------
@import "lib/colors/manifest";


/////// Semantic variables
// *-------------------------------------------------------------------------------
// abstract 'white' value to easily applied to semantic class objects
$white:                                #fff;

// primary header font color
$primary_header_color:                 $alpha_gray;

// default heading font weight
$heading_font_weight:                  normal;

// primary font color for the app
$primary_text:                         $alpha_gray;

// default `href` link color
$href_color:                           $delta_color;

// default shadow colors
$shadow_color:                         fade-out($alpha_color, 0.5);

// default border color
$border_color:                         $alpha_color;



/////// HTML 5 feature colors
// *-------------------------------------------------------------------------------
// used with the `ins` tag
// http://www.w3schools.com/tags/tag_ins.asp
$ins_color:                            $charlie_color;

// used with the `mark` tag
// http://www.w3schools.com/html5/tag_mark.asp
$mark_color:                           $charlie_color;

// webkit tap highlight color
$webkit_tap_hightlight:                $delta_color;

// overrides the default content selection color in the browser
$selection_color:                      $charlie_color;
$selection_text_color:                 $primary_text;


/////// @media breakpoint defaults
// *-------------------------------------------------------------------------------
$tablet:                    "screen and (max-width: 64em)";
$tablet_portrait:           "screen and (max-width: 50em) and (orientation: portrait)";
$tablet_landscape:          "screen and (max-width: 50em) and (orientation: landscape)";

$mobile:                    "screen and (max-width: 30em)";
$mobile_portrait:           "screen and (max-width: 30em) and (orientation : portrait)";
$mobile_landscape:          "screen and (max-width: 30em) and (orientation : landscape)";
