<fieldset>
  <form>
    <label for="email-label-id">Please enter your email</label>
    <input type="email" name="email" id="email-label-id">

    <label for="text-label-id">Please enter some text</label>
    <input type="text" name="text" id="text-label-id">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password">

    <label for="numberpad-text">Please enter a number</label>
    <input type="text" pattern="\d*" id="numberpad-text">

    <label for="textarea">Please enter some text</label>
    <textarea id="textarea"></textarea>

    <input type="checkbox" name="check-me" id="check-me">
    <label for="check-me">Hit the checkbox to use me</label>

    <button type="submit" class="btn btn-default">Sign in</button>
  </form>
</fieldset>
