<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Notes</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>5</td>
      <td>Quis ex tofu Pitchforks</td>
      <td></td>
      <td><span class="badge" data-badge="merged"></span></td>
    </tr>
    <tr>
      <td>11</td>
      <td>Odio letterpress dolore reprehenderit</td>
      <td><span class="badge">rebase required</span></td>
      <td><span class="badge" data-badge="merge"></span></td>
    </tr>
    <tr>
      <td>999</td>
      <td>Sapiente deserunt brunch in</td>
      <td></td>
      <td><span class="badge" data-badge="merged"></span></td>
    </tr>
    <tr>
      <td>5</td>
      <td>Mlkshk Shoreditch laboris mollit whatever tousled</td>
      <td></td>
      <td><span class="badge" data-badge="merged"></span></td>
    </tr>
    <tr>
      <td>5</td>
      <td>Est +1 qui tote bag kogi</td>
      <td><span class="badge">feature branch missing</span></td>
      <td><span class="badge" data-badge="merged"></span></td>
    </tr>
  </tbody>
</table>
