<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/application.css">
    </head>
    <body>
        <%- include modules/base/site-header.ejs %>
        <%- include modules/base/primary-nav.ejs %>
        <section class="site-section">
            <button>this is a button</button>
        </section>

    <!-- This is only needed to run LiveReload, not needed for production -->
    <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
