// this is a default list, look in the /_config.scss file for the project list of icons
$icon_font_alpha: 'ico-font' !default;
$icons: (expand '\e600') (menu '\e601') (twitter '\e602') !default;

%ico-font-base {
  font-family: milliman-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon($pua) {
  &:before {
    @extend %ico-font-base;
    content: $pua;
    margin-right: 0.25em;
  }
}
