<nav class="primary-nav">
    <a href="#" rel="releases" class="is-active">releases</a>
    <a href="#" rel="features">features</a>
    <a href="#" rel="docs" data-notification="3">docs</a>
    <a href="#" rel="admin">admin</a>
</nav>
