<header class="site-header">
    <div class="logo"><a href="#">Milliman</a></div>
    <div class="title">Release 3</div>
    <div class="utility">
        <a href="#" rel="search">search</a>
        <a href="#">log out</a>
    </div>
</header>
