<h2>Discussion</h2>
<div class="block-listing">
  <ul class="listing-info">
    <li class="user">User name</li>
    <li>18 minutes ago</li>
  </ul>
  <div class="message">
    Single-origin coffee shabby chic dolore gluten-free delectus food truck. Nulla Terry Richardson leggings pop-up you probably haven't heard of them non dreamcatcher 8-bit, meh sriracha. Odd Future narwhal sapiente kogi.
  </div>
  <div class="actions">
    <button>Edit</button>
  </div>
</div>
<div class="block-listing">
  <ul class="listing-info">
    <li class="user">User name</li>
    <li>18 months ago</li>
  </ul>
  <div class="message">
    Flexitarian typewriter occaecat brunch food truck veniam. Art party ea magna, vegan DIY 90's bitters Echo Park nulla qui nisi fingerstache consequat Thundercats Brooklyn. Sustainable Etsy twee deep v small batch, +1 exercitation sartorial semiotics. Shabby chic voluptate locavore banh mi YOLO, Vice art party ea literally slow-carb. Pitchfork ut Portland, velit biodiesel bespoke pickled stumptown fanny pack flannel. Dreamcatcher skateboard officia, meggings iPhone plaid vinyl Terry Richardson. Drinking vinegar quis Terry Richardson, consectetur ea +1 sapiente mumblecore Tumblr id asymmetrical.
  </div>
  <div class="actions">
    <button>Edit</button>
  </div>
</div>


<h2>Add Comment</h2>
<fieldset>
  <form>
    <textarea></textarea>
    <label for="check-a-box">This is some instructional text so <a href="/">you check</a> a box. <input id="check-a-box" type="checkbox"></label>
    <button>Add comment</button>
  </form>
</fieldset>
