<nav class="tab-bar">
  <a href="/" rel="discussion" class="is-active">discussion</a>
  <a href="/" rel="dashboard">dashboard</a>
  <a href="/" rel="history">history</a>
  <a href="/" rel="features">features</a>
  <a href="/" rel="properties">properties</a>
  <a href="/" rel="templates">templates</a>
  <a href="/" rel="attachments">attachments</a>
</nav>
