// Example markup
// <nav class="primary-nav">
//   <a href="#" rel="releases" class="is-active">releases</a>
//   <a href="#" rel="features">features</a>
//   <a href="#" rel="docs" data-notification="3">docs</a>
//   <a href="#" rel="admin">admin</a>
// </nav>

// Module Sass
// ------------------------------------------------------------
.primary-nav {
  float: left;
  width: em(80);
  height: calc(100% - 40px);
  background-color: $frame-background-color;
  a {
    position: relative;
    display: block;
    font-size: em($small_point_size);
    padding-top: em(50);
    padding-bottom: em(10);
    text-transform: uppercase;
    text-align: center;
    color: $white;
    width: 100%;
    &:before {
      position: absolute;
      top: em(10);
      left: calc(50% - 0.55em);
      right: calc(50% - 0.55em);
      font-size: 2em;
    }
    &.is-active, &:hover {
      background-color: $delta_color;
    }
  }
  [rel="releases"] {
    @include icon($release, false);
  }
  [rel="features"] {
    @include icon($star, false);
  }
    &:before {
    }
  [rel="docs"] {
    @include icon($file-alt, false);
    &:before {
    }
  }
  [rel="admin"] {
    @include icon($gear, false);
  }
  [data-notification] {
    &:after {
      top: em(10);
      right: em(10);
    }
  }
}
