<button>this is a button</button>
<button disabled>this is a disabled button</button>
<a href="/" class="button">this is a link button</a>
<a href="/" class="button disabled">this is a disabled link button</a>
<input type="button" value="this is an input[type=button] button"/>
<input type="button" disabled value="this is a disabled input[type=button] button"/>
<input type="submit" value="this is an input[type=submit] button"/>
<input type="submit" disabled value="this is a disabled input[type=submit] button"/>
